<div class="ui container">
	<div class="ui centered stackable grid">
		<div class="row">
			<h1 class="ui header">User List</h1>
		</div>

		<input type="file" class="form-control" name="documents" (change)="onChange($event)">


		<div class="row">
			<!-- <div class="ui stackable grid"> -->
				<div class="three wide column">
					<button class="ui blue fluid button" (click)="startClicked()" [disabled]="canMakeRequest"><i class="play icon"></i>Start</button>
				</div>
				<div class="three wide column">
					<button class="ui red fluid button" [disabled]="!canMakeRequest" (click)="stopClicked()"><i class="stop icon"></i>Stop</button>
				</div>
			<!-- </div> -->
		</div>

		<div class="row">
			<div class="ui left aligned stackable grid">
				<div class="row">
					<h3 class="ui header">
						<b>Total users Retrieved: </b>
						&nbsp; &nbsp;
						{{ totalUsersRetrieved }}
					</h3>
				</div>

				<div class="row">
					<h3 class="ui header">
						<b>Total Pages: </b>
						&nbsp; &nbsp;
						{{ totalPages }}
					</h3>
				</div>
				
				<div class="row">
					<h3 class="ui header">
						<b>Current Page number: </b>
						&nbsp; &nbsp;
						{{ currentPageNumber }}
					</h3>		
				</div>
			</div>
		</div>

		<div class="row" style="margin-top: 3rem">
			<div class="ten wide column">
				<div class="ui stackable grid">
					<div class="ui grid">
						<div class="ui relaxed divided list" style="width: 100%">
							<div class="item" *ngFor="let user of currentPageList" >
								<img class="ui avatar image" *ngIf="user.hasOwnProperty('p')" [src]="'http:'+user.p">
								<i class="large user middle aligned icon" *ngIf="!user.hasOwnProperty('p')"></i>

								<div class="content" style="margin-left: 2rem;">
									<div class="header">{{ user.n }}</div>
									<div class="description">
										<div class="left floated">{{ user.u }}</div>

										<div class="right floated"><b>{{ user.s }}</b></div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="left floated">
								<button class="ui grey button" [disabled]="currentPageNumber==1" (click)="previousClicked ()">Previous</button>
							</div>
							<div class="right floated">
								<button class="ui grey button" [disabled]="currentPageNumber==totalPages" (click)="nextClicked()">Next</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>